*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    padding: 25px 0px;
    background-color: aquamarine;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0px 10px;
}

.header-logo{
    width: 20%;
}

.header-link{
    text-align: center;
}
