*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    padding: 25px 0px;
    background-color: aquamarine;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0px 10px;
}

.header-logo{
    width: 20%;
    padding: 2px;
}

.header-link{
    text-align:center;
}

.header-login{
    text-align: right;
}

.bg-blue{
    background-color: blue;
    height: 200px;
}

.content{
    height: 200px;
    border: 3px dashed;
}
.rettangolo-1{
    width: 60%;
    margin: auto;
}

.rettangolo-rosa{
    background-color: pink;
    
}
